.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.overlay {
    width: 100%;
    background-color: rgba($codgray, 0.6);
}

.logo {
    @extend %clearfix;
    padding-top: 70px;
}

.header-logo {
    float: left;
    width: 30%;
}

.logo-main {
    font-size: 38px;
    color: $white;
    text-decoration: none;
    &:hover {
        opacity: 0.8;
    }
}

.logo-txt {
    display: block;
    font-size: 14px;
    color: $white;
}

.header-info {
    float: right;
    width: 70%;
    padding-top: 7px;
}

.info-items {
    font-size: 0;
    :last-child {
        margin-right: 0;
    }    
}

.info-item {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    margin-right: 39px;
}

.info-container {
    @extend %clearfix;
}

.icon-icon-phone,.icon-icon-envelope,.icon-icon-clock {
    float: left;
    font-size: 20px;
    color: $maingreen;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: $white;
    padding-left: 10px;
    padding-top: 7px;
}

.info-txt {
    float: right;
    margin-left: 13px;
}

.info-span {
    font-weight: 600;
    font-size: 16px;
    color: $white;
}

.info-link {
    color: $white;
    text-decoration: none;
    display: block;
    padding-top: 5px;
}

.info-hours {
    color: $white;
    display: block;
    padding-top: 5px;
}

@include breakpoint(tablet) {
    .header-logo {
        display: block;
        width: 100%;
    }

    .header-info {
        display: block;
        width: 100%;
        padding-top: 50px;
    }
}

@include breakpoint(phone) {
    .logo {
        padding-top: 50px;
    }
    .header-logo {
        display: block;
        width: 100%;
    }
    .header-info {
        display: block;
        width: 100%;
        padding-top: 50px;
    }
    .info-item {
        margin-bottom: 15px;
    }
}
    
    