$font: 'Open Sans', serif;

$white: #FFFFFF;
$black: #000;
$newblack: #474747; //rgba(71, 71, 71, 1)
$codgray: #191919;
$maingreen: #41C379;
$gray: #F4F4F4;
$textgray: #C1C2C4;
$lastrow: #2A2D34;

//footer icon colours
$bordercolour: rgba(255,255,255,.2);
$icongray: #2A2D34; //rgba(42, 45, 52, 1)
$facebook: #4267B2;
$google: #DB4437;
$twitter: #1DA1F2;
$linkedin: #2867B2;
$purple: #800080;



